@import "common";

.s0{
  h1{
    @extend h2;

    margin-bottom: 0;
  }
}

.s1{
  h2{
    @extend h1;

    margin-bottom: 0;
  }
  .date-selector{
    text-align: right;
    form{
      margin-top: 15px;
    }
    span{
      &.datepicker-container {
        position: relative;
        display: inline-block;
        margin: 0 0.8em;
      }
    }
    i{
      position: absolute;
      right: 0.5em;
      top: 50%;
      margin-top:  -0.5em;
    }
    input{
      width: 200px;
    }
  }
  @media screen and (max-width: $mobileMaxWidth) {
    h2{
      margin-bottom: $contentPadding;
    }
    .date-selector{
      text-align: left;
      span{
        display: none;
        &.datepicker-container {
          display: inline-block;
          margin: 0;
        }
      }
    }
  }
}

.s2{
  img{
    max-width: 100%;
  }
}

.s5{
  h2{
    margin-bottom: 0;
  }
  > .wrapper{
    padding-bottom: 0;
  }
}

.exercises-grid{
  ul{
    list-style-type: disc;
    list-style-position: outside;
    li{
      margin-left: 1.5em;
    }
  }
  .title{
    margin-top: $contentPadding;
    color: $pair;
    h3{
      margin-bottom: 0;
    }
    &:first-child{
      margin-top: 0;
    }
  }
  .name{
    @extend .b;

    padding-top: 15px;
  }
  .row{
    .wrapper{
      padding: 15px 0 0;
    }
  }
  .gallery{
    margin-top: 25px;
    .image{
      display: inline-block;
      float: left;
      width: 23%;
      margin: 0 2.66% 25px 0;
      background: $accent;
      text-align: center;
      img{
        max-width: 100%;
      }
      &:nth-child(4n){
        margin-right: 0;
      }
    }
    &.nomargin{
      margin-top: 0;
    }
  }
  @media screen and (max-width: $mobileMaxWidth) {
    .title{
      margin-top: 15px;
    }
    .gallery{
      .image{
        width: 100%;
        margin-right: 0;
      }
    }
  }
}

.food-grid{
  @extend  .exercises-grid;
}

.macros-table{
  @extend .medium.font.size;

  margin-top: 25px;
  border-left: 1px solid #eee;
  border-bottom: 1px solid #eee;
  .row{
    > .column{
      width: (100% / 5);
      padding: 5px;
      margin: 0;
      border-top: 1px solid #eee;
      border-right: 1px solid #eee;
      text-align: center;
      &:first-child{
        width: (100% * 2 / 5);
      }
      &.daily{
        color: green;
        &.active{
          color: red;
        }
      }
    }
    &:first-child{
      background: #eee;
    }
  }
  &.nomargin{
      margin-top: 0;
  }
  @media screen and (max-width: $mobileMaxWidth) {
      font-size: 13px;
      line-height: 1.5em;
  }
}