@import url('https://fonts.googleapis.com/css?family=Rubik:300,300i,500,500i,700,700i,900&subset=cyrillic');
@import "reset";
@import "clearfix";

$black: #222;
$gray: #777;
$accent: #69b9c0;
$addition: #d680a6;

$contentMaxWidth: 1280px;
$contentPadding: 36px;
$gridGutter: 10%;
$inputsHeight: 46px;
$inputsPadding: 10px;

.box{
  $boxSizing: border-box;
  box-sizing: $boxSizing;
  -moz-box-sizing: $boxSizing;
  -webkit-box-sizing: $boxSizing;
}

.flex{
  display: flex;
  align-items: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
}

@mixin gridRow($n, $gutter, $responsiveBottomMargin){
  > .column{
    width: (100% - ($gutter * ($n - 1))) / $n;
    margin-right: $gutter;
    margin-bottom: $responsiveBottomMargin;
    &:nth-child(#{$n}n){
      margin-right: 0;
    }
    &:last-child{
      //margin-bottom: 0;
    }
  }
}

html{
  height: 100%;
}
body{
  @extend .classic.font;
  @extend .classic.font.size;

  position: relative;
  max-height: 100%;
  color: $black;
}

.grid {
  .column {
    @extend .box;

    display: inline-block;
    float: left;
  }
  @media screen and (min-width: 801px){
    .x2 {
      @include gridRow(2, $gridGutter / 2, 0);
    }
  }
  @media screen and (max-width: 800px){
    .x2 {
      @include gridRow(1, 0, $gridGutter / 2);
    }
  }
  @media screen and (min-width: 1281px){
    .x4 {
      @include gridRow(4, $gridGutter / 4, 0);
    }
  }
  @media screen and (min-width: 801px) and (max-width: 1280px){
    .x4 {
      @include gridRow(2, $gridGutter / 2, $gridGutter / 2);
    }
  }
  @media screen and (max-width: 800px){
    .x4 {
      @include gridRow(1, 0, $gridGutter / 2);
    }
  }
}

.matrix-grid {
  .column {
    @extend .box;

    display: inline-block;
    float: left;
      > img{
        max-width: 100%;
      }
    &.info{
      > .wrapper{
        padding: $contentPadding * 1.5;
      }
    }
  }
  @media screen and (min-width: 801px){
    .x2 {
      @include gridRow(2, 0, 0);
    }
  }
  @media screen and (max-width: 800px){
    .x2 {
      @include gridRow(1, 0, 0);
    }
  }
  @media screen and (min-width: 1281px){
    .x4 {
      @include gridRow(4, 0, 0);
    }
  }
  @media screen and (min-width: 801px) and (max-width: 1280px){
    .x4 {
      @include gridRow(2, 0, 0);
    }
  }
  @media screen and (max-width: 800px){
    .x4 {
      @include gridRow(1, 0, 0);
    }
  }
}

input, select, textarea, button, .button, select{
  @extend .box;

  font-size: 16px;
  line-height: 1.5em;
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
}
input[type="text"], input[type="email"], input[type="password"], select, textarea, input[type="submit"], button, .button{
  border: 1px solid lighten(#fff, 10%);
  padding: $inputsPadding $inputsPadding * 3;
  background: lighten(#fff, 5%);
  &.error{
    border-color: red;
    background: lighten(red, 45%);
  }
}
input[type="text"], input[type="email"], input[type="password"], select, input[type="submit"], button, .button{
  height: $inputsHeight;
  line-height: $inputsHeight;
}
.input, input[type="text"], input[type="email"], input[type="password"], textarea{
  width: 100%;
  color: #fff;
}
select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}
textarea{
  padding: 1em $inputsPadding * 3;
  resize: vertical;
}
input[type=file]{
  position: absolute;
  left: -10000px;
  width: 0;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
input[type="checkbox"]{
  margin: 0;
  vertical-align: bottom;
}
button, .button{
  $hoverColor: lighten($accent, 5%);

  display: inline-block;
  padding: 0 $inputsPadding * 5;
  vertical-align: middle;
  border-color: $accent;
  background: $accent;
  color: #fff;
  text-decoration: none;
  white-space: nowrap;
  transition: 0.2s;
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: $inputsHeight;
  cursor: pointer;
  &::-moz-focus-inner {
    border:0;
  }
  &:focus {
    outline:0;
  }
  &:hover{
    background: $hoverColor;
    border-color: $hoverColor;
    color: #fff;
  }
  &.empty{
    background: none;
    &:hover{
      background: $hoverColor;
      border-color: $hoverColor;
    }
  }
}

.font{
  &.serif{
    font-family: serif;
  }
  &.classic{
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    &.size{
      font-size: 17px;
      line-height: 1.5em;
    }
  }
  &.medium{
    &.size{
      font-size: 20px;
      line-height: 1.5em;
    }
  }
  &.small{
    &.size{
      font-size: 15px;
      line-height: 1.5em;
    }
  }
  &.extrasmall{
    &.size{
      font-size: 12px;
      line-height: 1.5em;
    }
  }
}

b, strong, .b{
  font-weight: 500;
}
.extrabold{
  font-weight: 700;
}

.centered{
  text-align: center;
}

a{
  color: $accent;
  text-decoration: underline;
  &:hover{
    text-decoration: none;
    color: $addition;
  }
}

h1, h2, h3{
  @extend .extrabold;

}
h1{
  font-size: 50px;
  line-height: 1.3em;
  margin-bottom: $gridGutter / 3;
  @media screen and (max-width: 800px){
    font-size: 35px;
    line-height: 1.3em;
  }
}
h2{
  font-size: 40px;
  line-height: 1.3em;
  margin-bottom: $gridGutter / 4;
  @media screen and (max-width: 800px){
    font-size: 25px;
    line-height: 1.3em;
  }
}
h3{
  font-size: 30px;
  line-height: 1.3em;
  margin-bottom: $gridGutter / 4;
  @media screen and (max-width: 800px){
    font-size: 21px;
    line-height: 1.3em;
  }
}

.section{
  > .wrapper{
    padding: $contentPadding * 1.5 10%;
  }
}

.logo-tag{
  @extend .extrabold;
}

.social-icons{
  @extend .medium.font.size;

  a{
    text-decoration: none;
  }
}
