@import "common";

.s0{
  h1{
    @extend h2;

    margin-bottom: 0;
  }
}

.s1{
  h2{
    font-size: 75px;
    line-height: 1.3em;
    margin-bottom: 0;
  }
  .date-selector{
    text-align: right;
    form{
      margin-top: 31px;
    }
    span{
      position: relative;
      display: inline-block;
      margin: 0 0.8em;
    }
    i{
      position: absolute;
      right: 0.5em;
      top: 50%;
      margin-top:  -0.5em;
    }
    input{
      width: 200px;
    }
  }
}

.exercises-grid{
  border: 1px solid $accent;
  .row{
    border-top: 1px solid $accent;
    > .column{
      margin: 0;
      .wrapper{
        padding: $contentPadding;
      }
      &:first-child{
        width: 70%;
      }
      &:last-child{
        padding-top: 2em * 1.5;
        width: 30%;
      }
    }
    &.x1{
      border: none;
      > .column{
        margin: 0;
        padding: 0;
        &:first-child, &:last-child{
          width: 100%;
        }
      }
    }
    &.title{
      background: $accent;
      color: #fff;
      .wrapper{
        padding: $contentPadding / 1.5 $contentPadding;
      }
    }
    &:first-child{
      border-top: none;
    }
  }
  .gallery{
    .image{
      display: inline-block;
      float: left;
      width: 23%;
      height: 95px;
      margin: 25px 2.66% 0 0;
      background: $accent;
      text-align: center;
      img{
        display: inline-block;
        max-width: 100%;
      }
      &:nth-child(4n){
        margin-right: 0;
      }
    }
  }
}

.food-grid{
  @extend  .exercises-grid;

  .row{
    > .column{
      &:first-child{
        width: 40%;
        ul{
          list-style-type: disc;
          list-style-position: outside;
          padding-left: 1.5em;
        }
      }
      &:last-child{
        width: 60%;
      }
    }
  }
}

.macros-table{
  @extend .medium.font.size;

  margin-top: 25px;
  border-bottom: 1px solid #eee;
  border-left: 1px solid #eee;
  ._row{
    &.daily{
      .column{
        color: green;
        &.active{
          color: red;
        }
        &:first-child{
          color: $black;
        }
      }
    }
    &:first-child{
      background: #eee;
    }
  }
  .column{
    @extend .box;

    width: (100% / 5);
    padding: 5px;
    border-top: 1px solid #eee;
    border-right: 1px solid #eee;
    text-align: center;
  }
  &.nomargin{
      margin-top: 0;
  }
}