@import "common";

.s0{
  height: 100vh;
  min-height: 768px;
  background: #000 url("../images/indexResized.jpg") 50% 50% no-repeat;
  background-size: cover;
  color: #fff;
  > .wrapper{
    position: relative;
    padding: 0;
    height: inherit;
  }
  .container{
    @extend h1;

    position: absolute;
    right: 0;
    top: 50%;
    margin-top: - (274px / 2);
  }
}