@import "common";

.top-teaser{
  .inspire{
    margin-bottom: $contentPadding * 1.5;

    font-size: 23px;
    line-height: 1.5em;
  }
}

.section-1{
  @extend .small.font.size;

  background: $accent;

  .column{
    position: relative;
    padding-left: 50px;
    span{
      font-size: 35px;
      position: absolute;
      top: 4px;
      left: 0;
    }
    &.black{
      color: $black;
    }
  }
}

.section-2{
  .teaser{
    width: 70%;
    margin: 0 auto $contentPadding;
  }
}

.section-3{
  .teaser{
    width: 70%;
    margin: 0 auto $contentPadding;
  }
}