@import "common";

.video-player{
  height: 670px;
  background: $accent url("../img/preloader_accent.gif") 50% 50% no-repeat;
}

.s0{
  .stat{
    @extend .medium.font.size;

    margin-top: $contentPadding / 2;
  }
}